body {
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

a {
    font-family: Cabin;
    text-decoration: none;
}

.header-content {
    display: flex;
    color: #000;
    margin: 40px 52px 145px;
}

 .nav-menu {
    display: flex;
    width: 100%;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-logo-container p {
    white-space: nowrap;
}

.header-logo-container img {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    cursor: default;
}

.header-logo-container p {
    color: #0E0F13;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    gap: 56px;
}

.nav-list a { 
    color: #0E0F13;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    cursor: default;
}

.nav-list a.active {
    color: #425DF8;
    font-weight: 500;
}

.sign-in-button, 
.sign-up-button {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    padding: 18px 22px;
    border-radius: 8px;
    white-space: nowrap;
}

.sign-in-button {
    color: #0E0F13;
    border: 1px solid #DADADA;
    margin-right: 24px;
}

.sign-up-button {
    color: #F6FDFF;
    border: 1px solid #425DF8;
    background: #425DF8;
}

.main-title {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    text-align: center;
    margin-bottom: 24px;
}

.main-information {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 120px;
    text-align: center;
}

.plan {
    display: flex;
    align-items: end;
    margin: 0 52px 196px;
    gap: 24px;
    justify-content:center;
}

.plan-block {
    
    display: flex;
    width: 416px;
    height: fit-content;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
}

.plan-block.main {
    border: 1px solid #161A34;
    background: #161A34;
}

.plan-name {
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

.plan-information {
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 27px 0;
}

.plan-price-block {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.plan-description {
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -2.56px;
    margin-right: 16px;
}

.plan-block.custom .plan-description {
    letter-spacing: -1.28px;
}

.plan-price-block span {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    vertical-align:super;
}

.plan-details-list li {
    margin-bottom: 16px;
}

.list-item-description {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 500px;
    background: #425DF8;
}

.plan-details-list p {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
}

.plan-block.main .plan-name,
.plan-block.main .plan-information,
.plan-block.main .plan-description,
.plan-block.main .plan-price-block span,
.plan-details-list.main p {
    color: #F6FDFF;
}

.link-start, 
.contact-button {
    text-align: center;
    padding: 18px 22px;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    margin: 109px 130px 0;
    white-space: nowrap;
}

.plan-block.main .link-start{
    margin: 81px 130px 0;
}

.contact-button a {
    color: #F6FDFF;
}

.footer {
    width: 100%;
    border: 1px solid #0E0F13;   
}

.footer-container {
    display: flex;
    align-items: center;
    margin: 0 52px;
    justify-content: space-between;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    padding: 16px 0px;
}

.footer-logo-container img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer-logo-container p,
.footer-copyright {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
